body {
    background-color: #f5f5f5;
}

.mdl-layout__header {
    background-color: #fff;
}

.mdl-layout-title a,
.mdl-logo a {
    text-decoration: none;
}

.mdl-layout-title a {
    color: rgb(66,66,66);
}

.mdl-logo a {
    color: #fff;
}

.mdl-layout__drawer .mdl-layout-title {
    padding: 0;
    text-align: center;
}

.mdl-layout__header .mdl-navigation__link {
    height: 60px;
    border-bottom: 4px solid transparent;
    font-weight: 700;
}

.mdl-layout__header .mdl-navigation__link:hover {
    border-bottom: 4px solid #ffc107;
}

/*
Give the mdl-layout div a minimum viewport height in order to push the footer
down on pages with short content, at least on initial page load.
*/
.mdl-layout {
    min-height: 100vh;
}

.hidden {
    display: none;
}

.page-content {
    margin: auto;
    max-width: 1150px;
}

.page-heading {
    margin: 37px 0 8px 13px
}

.mdl-grid {
    /*
    Center the grid items (MDL cards). This solution was discovered from
    this Stack Overflow post: https://stackoverflow.com/a/32137411
    */
    justify-content: center;
}

.listings .mdl-cell {
    /*
    Box shadow transition developed with help from this page:
    https://www.uplabs.com/posts/material-design-box-shadows
    */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.listings .mdl-cell:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),
                0 3px 14px 2px rgba(0,0,0,.12),
                0 5px 5px -3px rgba(0,0,0,.2);
}

.listings .mdl-cell a {
    /*
    Make sure the entire contents of the card is clickable.
    The following CSS-Tricks page was used as a reference:
    https://css-tricks.com/snippets/jquery/make-entire-div-clickable
    */
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.listings .mdl-card__media img {
    /* 
    Fill the div containing the image. Developed with help from this
    Stack Overflow post: https://stackoverflow.com/a/39150019
    */
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.item-content,
.new-item,
.edit-item,
.delete-item {
    margin-top: 44px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.item-content .mdl-grid,
.new-item .mdl-grid,
.edit-item .mdl-grid,
.delete-item .mdl-grid {
    max-width: 620px;
}

.item-content .mdl-grid {
    margin-bottom: 15px;
}

.item-content .mdl-grid:last-of-type {
    margin-bottom: 0;
}

/* Item page button style rule */
.item-content .mdl-button {
    margin-right: 10px;
    text-transform: none;
}

.mdl-button {
    margin-right: 10px;
}

/* Make the delete button red with white text */
.item-content .delete-button,
.delete-item .delete-button {
    background-color: #f44336;
    color: #fff;
}

.new-item form,
.edit-item form {
    overflow: visible;
}

.new-item .mdl-card__title-text,
.edit-item .mdl-card__title-text,
.delete-item .mdl-card__title-text {
    color: rgb(66,66,66);
    font-weight: 700;
}

.new-item .mdl-textfield,
.edit-item .mdl-textfield {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 90%
}

#new-item-button {
    /*
    Place the new item button in the lower right corner on top of all
    other content.
    */
    position: fixed;
    display: block;
    z-index: 999;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.long-text-field {
    width: 90%;
}

/*
Vendor-specific rules for styling the input placeholder. Developed with help
from the following Stack Overflow post: https://stackoverflow.com/a/2610741
*/
::-webkit-input-placeholder {
    font-weight: 300;
    color: #bfbfbf;
}

:-moz-placeholder {
    font-weight: 300;
    color: #bfbfbf;
    opacity: 1;
}

::-moz-placeholder {
    font-weight: 300;
    color: #bfbfbf;
    opacity: 1;
}

:-ms-input-placeholder {
    font-weight: 300;
    color: #bfbfbf;
}

::-ms-input-placeholder {
    font-weight: 300;
    color: #bfbfbf;
}
