body {
    background-color: #f5f5f5;
}

.mdl-layout__header {
    background-color: #fff;
}

.mdl-layout-title a,
.mdl-logo a {
    text-decoration: none;
}

.mdl-layout-title a {
    font-family: "Alfa Slab One", cursive;
    color: rgb(66,66,66);
}

.mdl-layout__header-row .mdl-layout-title {
    font-size: 24px;
}

.mdl-layout__header .mdl-navigation__link {
    height: 60px;
    border-bottom: 4px solid transparent;
    font-weight: 700;
}

.mdl-layout__header .mdl-navigation__link:hover {
    border-bottom: 4px solid #ffc107;
}

.mdl-layout__drawer .mdl-layout-title {
    padding-top: 16px;
    font-size: 29px;
    line-height: 1.2;
}

.profile-info {
    margin-top: 12px;
    padding: 16px 40px;
    background-color: #3c444a;
    line-height: 1;
}

.profile-picture img {
    width: 80px;
    border-radius: 40px;
}

.profile-name,
.profile-email {
    padding-top: 8px;
    color: #fff;
}

.profile-name,
.mdl-layout__drawer span.mdl-navigation__link {
    font-weight: 700;
}

.mdl-layout__drawer span.mdl-navigation__link {
    color: #424242 !important;
}

.mdl-layout__drawer span.mdl-navigation__link:hover {
    background-color: unset !important;
}

/*
Style a button with the logout-link class so that it resembles an anchor tag.
Developed with help from the following Stack Overflow post:
https://stackoverflow.com/a/8525002
*/
.logout-link {
    padding: 0;
    border: 0;
    background-color: transparent;
    font: inherit;
    color: inherit;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.mdl-layout__drawer .logout-link {
    line-height: 24px;
}

.mdl-mini-footer .logout-link {
    display: inline;
    line-height: 16px;
    white-space: nowrap;
}

.drawer-separator {
    margin: 8px 0;
    height: 1px;
    background-color: #dcdcdc;
}

/*
Give the mdl-layout div a minimum viewport height in order to push the footer
down on pages with short content, at least on initial page load.
*/
.mdl-layout {
    min-height: 100vh;
}

.hidden {
    display: none;
}

.page-content {
    margin: auto;
    max-width: 1150px;
}

.page-heading {
    margin: 37px 13px 8px;
    color: #767777;
    text-align: center;
}

.mdl-grid {
    /*
    Center the grid items (MDL cards). This solution was discovered from
    this Stack Overflow post: https://stackoverflow.com/a/32137411
    */
    justify-content: center;
}

.listings .mdl-cell {
    /*
    Box shadow transition developed with help from this page:
    https://www.uplabs.com/posts/material-design-box-shadows
    */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.listings .mdl-cell:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),
                0 3px 14px 2px rgba(0,0,0,.12),
                0 5px 5px -3px rgba(0,0,0,.2);
}

.listings .mdl-cell a {
    /*
    Make sure the entire contents of the card is clickable.
    The following CSS-Tricks page was used as a reference:
    https://css-tricks.com/snippets/jquery/make-entire-div-clickable
    */
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.listings .mdl-card__media img {
    /* 
    Fill the div containing the image. Developed with help from this
    Stack Overflow post: https://stackoverflow.com/a/39150019
    */
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.listings {
    margin-bottom: 20px;
}

.item-content,
.new-item,
.edit-item,
.delete-item,
.login,
.delete-account {
    margin-top: 44px;
    margin-bottom: 36px;
    padding-left: 16px;
    padding-right: 16px;
}

.item-content .mdl-grid,
.new-item .mdl-grid,
.edit-item .mdl-grid,
.delete-item .mdl-grid,
.login .mdl-grid,
.delete-account .mdl-grid {
    max-width: 620px;
}

.item-content .mdl-grid {
    margin-bottom: 20px;
}

.item-content .mdl-grid:last-of-type {
    margin-bottom: 0;
}

/* Item page button style rule */
.item-content .mdl-button {
    margin-right: 10px;
    text-transform: none;
}

.mdl-button {
    margin-right: 10px;
}

/* Make the delete button red with white text */
.item-content .delete-button,
.delete-item .delete-button,
.delete-account .delete-button {
    background-color: #f44336;
    color: #fff;
}

.new-item form,
.edit-item form {
    overflow: visible;
}

.new-item .mdl-card__title-text,
.edit-item .mdl-card__title-text,
.delete-item .mdl-card__title-text,
.login .mdl-card__title-text,
.delete-account .mdl-card__title-text {
    color: rgb(66,66,66);
    font-weight: 700;
}

.new-item .mdl-textfield,
.edit-item .mdl-textfield {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 90%;
}

.item-content-image-container {
    max-height: 215px;
}

.item-content-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-content .mdl-card__supporting-text {
    padding: 20px;
    width: unset;
    color: inherit;
}

.item-content h4 {
    margin: 0 0 16px;
}

.item-content-name {
    font-weight: 700;
}

.item-content ul {
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    color: rgba(0,0,0,.54);
}

.item-content li,
.delete-account li {
    padding-bottom: 8px;
}

.item-content li:last-of-type,
.delete-account li:last-of-type {
    padding-bottom: 0;
}

.item-content-info {
    color: rgb(66,66,66);
}

.item-content-description-card {
    min-height: unset;
}

.item-content-description-text {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    hyphens: auto;
}

.delete-item .mdl-card {
    min-height: unset;
}

.delete-item p,
.delete-account p {
    margin: 0;
}

.delete-item p,
.delete-account p,
.delete-account ol,
.delete-account .mdl-checkbox__label {
    color: rgb(66,66,66);
    font-size: 16px;
    font-weight: 300;
}

.mdl-mini-footer {
    background-color: #3c444a;
    color: #bbbbbb;
}

.mdl-logo a {
    color: #fff;
}

#new-item-button {
    /*
    Place the new item button in the lower right corner on top of all
    other content.
    */
    position: fixed;
    display: block;
    z-index: 999;
    right: 0;
    bottom: 0;
    margin-right: 24px;
    margin-bottom: 24px;
}

.long-text-field {
    width: 90%;
}

/*
Vendor-specific rules for styling the input placeholder. Developed with help
from the following Stack Overflow post: https://stackoverflow.com/a/2610741
*/
::-webkit-input-placeholder {
    font-weight: 300;
    color: #bfbfbf;
}

:-moz-placeholder {
    font-weight: 300;
    color: #bfbfbf;
    opacity: 1;
}

::-moz-placeholder {
    font-weight: 300;
    color: #bfbfbf;
    opacity: 1;
}

:-ms-input-placeholder {
    font-weight: 300;
    color: #bfbfbf;
}

::-ms-input-placeholder {
    font-weight: 300;
    color: #bfbfbf;
}

.mdl-snackbar__text {
    margin: auto;
}

.login .mdl-card__actions {
    margin: 0 auto;
    width: unset;
    text-align: center;
}

.spinner-container {
    height: 28px;
}

#login-spinner {
    display: none;
}

.button-container {
    margin: auto;
    width: 250px;
    height: 40px;
}

/* Google Sign-In button styles below */
#signinButton {
    width: 250px;
    height: 40px;
}

.abcRioButton {
    border-radius: 3px !important;
    box-shadow: none !important;
}

.abcRioButton:hover {
    box-shadow: none !important;
}

.abcRioButtonContents {
    font-size: 16px !important;
}

/*
Google Sign-In button text replacement solution developed with help from
the following resource:
https://blog.escapecreative.com/how-to-replace-text-with-css
*/
.abcRioButtonContents span {
    display: none;
}

.abcRioButtonContents:after {
    content: "Continue with Google";
}
/* End of Google Sign-In button styles */

/* Facebook Login button styles */
.fb-login-button {
    width: 250px;
    height: 40px;
}

/* Media queries for various viewport sizes */
@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        margin: auto;
        padding: 0;
        text-align: center;
    }

    .mdl-layout__header-row .mdl-layout-title {
        width: 100%;
    }

    .mdl-layout--large-screen-only {
        display: none;
    }

    .mdl-layout__drawer .mdl-layout-title {
        display: none;
    }

    .profile-info {
        margin-top: 0;
        padding: 16px;
    }

    #new-item-button {
        display: none;
    }
}

@media screen and (min-width: 583px) {
    .listings .mdl-card {
        width: 267.5px;
    }
}

@media screen and (min-width: 380px) and (max-width: 582px) {
    .listings .mdl-card {
        width: 340px;
    }
}

@media screen and (max-width: 479px) {
    .item-content-info-card {
        min-height: unset;
    }

    .item-content .mdl-card__supporting-text {
        padding: 16px;
    }

    .item-content-description-text {
        font-size: 16px;
        line-height: 26px;
    }
}
