{% extends "layout.html" %}
{% block content %}
    <div class="delete-item">
        <div class="mdl-grid mdl-grid--no-spacing">
            <form action="{{url_for('delete_item', category_arg=item.category.name.lower(), item_arg=item.name.lower())}}" method="POST" class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Delete an item</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>Are you sure you want to delete {{item.name}}?</p>
                </div>
                <div class="mdl-card__actions">
                    <a href="{{url_for('show_item', category_arg=item.category.name.lower(), item_arg=item.name.lower())}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--2dp">Cancel</a>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--2dp delete-button">Delete</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
