{% extends "form.html" %}

{% block form_class %}edit-item{% endblock %}

{% block form_action %}{{url_for('edit_item', category_arg=item.category.name.lower(), item_arg=item.name.lower())}}{% endblock %}

{% block form_title %}Edit an item{% endblock %}

{% block cat_val %}{{item.category.name}}{% endblock %}

{% block cat_data_val %}{{item.cat_id}}{% endblock %}

{% block name_val %}{{item.name}}{% endblock %}

{% block image_url_val %}{{item.image_url}}{% endblock %}

{% block description_val %}{{item.description}}{% endblock %}

{% block form_buttons %}
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Submit</button>
    <a href="{{url_for('show_item', category_arg=item.category.name.lower(), item_arg=item.name.lower())}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--2dp">Cancel</a>
{% endblock %}
