{% extends "layout.html" %}
{% block content %}
    <div class="item-content">
        <div class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone item-content-image-container">
                <img src="{{item.image_url}}" alt="Noodles image">
            </div>
            <div class="mdl-card mdl-cell mdl-cell--8-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text">
                    <h4 class="item-content-name">{{item.name}}</h4>
                    <ul>
                        <li><span class="item-content-info">Category:</span> {{item.category.name}}</li>
                        <li><span class="item-content-info">Added by:</span> {{item.user.name}}</li>
                    </ul>
                    {% if session['username'] and session['user_id'] == item.user_id %}
                        <a href="{{url_for('edit_item', category_arg=item.category.name.lower(), item_arg=item.name.lower())}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--2dp">
                            <i class="material-icons">edit</i>
                            Edit
                        </a>
                        <a href="{{url_for('delete_item', category_arg=item.category.name.lower(), item_arg=item.name.lower())}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--2dp delete-button">
                            <i class="material-icons">delete</i>
                            Delete
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col item-content-description-card">
                <div class="mdl-card__supporting-text">
                    <h4>Description</h4>
                    <p class="mdl-typography--font-light item-content-description-text">
                        {{item.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
