{% extends "layout.html" %}
{% block content %}
    <div style="max-width: 860px" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

        <div style="height: 215px" class="mdl-cell mdl-cell--4-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone mdl-color--teal-100">
            <img style="object-fit: cover; width: 100%; height: 100%;" src="{{item.image_url}}" alt="Noodles image">
        </div>

        <div class="mdl-card mdl-cell mdl-cell--8-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
                <h4>{{item.name}}</h4>
                <ul>
                    <li>Category: {{item.category.name}}</li>
                    <li>Added by: {{item.user.name}}</li>
                </ul>
            </div>
        </div>

        <div style="border-top: 1px solid rgba(0, 0, 0, 0.12);" class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Description</h4>
                {{item.description}}
            </div>
        </div>

    </div>

<!--     <div class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Technology</h4>
                Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
            </div>
        </div>
    </div> -->

{% endblock %}