{% extends "layout.html" %}
{% block scripts %}
    <!-- Declare a JavaScript global variable containing the state token -->
    <script>
        const state = '{{state}}';
    </script>
{% endblock %}
{% block content %}
    <div class="login">
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Login</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">Current state: {{state}}</span>
                </div>
                <div class="mdl-card__actions">
                    <div id="signinButton" class="g-signin2" data-longtitle="true"></div>
                    <div id="login-spinner" class="mdl-spinner mdl-js-spinner is-active"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
